;
; Configuration file for labyrinth2.txt
;

; Paths
; -----
[Path_1_2]
Junctions=2
Junction1=kq
Junction2=ql
[Path_1_3]
Junctions=3
Junction1=kq
Junction2=ql
Junction3=lm
[Path_1_4]
Junctions=2
Junction1=kq
Junction2=qn
[Path_1_5]
Junctions=3
Junction1=kq
Junction2=qn
Junction3=no
[Path_1_6]
Junctions=3
Junction1=kq
Junction2=qn
Junction3=np
[Path_1_7]
Junctions=1
Junction1=kq
[Path_1_8]
Junctions=2
Junction1=kq
Junction2=qr
[Path_1_9]
Junctions=3
Junction1=kq
Junction2=ql
Junction3=ls
[Path_1_10]
Junctions=4
Junction1=kq
Junction2=ql
Junction3=ls
Junction4=st
[Path_2_3]
Junctions=1
Junction1=lm
[Path_2_4]
Junctions=1
Junction1=ln
[Path_2_5]
Junctions=2
Junction1=ln
Junction2=no
[Path_2_6]
Junctions=2
Junction1=ln
Junction2=np
[Path_2_7]
Junctions=1
Junction1=lq
[Path_2_8]
Junctions=2
Junction1=lq
Junction2=qr
[Path_2_9]
Junctions=1
Junction1=ls
[Path_2_10]
Junctions=2
Junction1=ls
Junction2=st
[Path_3_4]
Junctions=2
Junction1=ml
Junction2=ln
[Path_3_5]
Junctions=4
Junction1=ml
Junction2=ls
Junction3=sn
Junction4=no
[Path_3_6]
Junctions=4
Junction1=ml
Junction2=ls
Junction3=sn
Junction4=np
[Path_3_7]
Junctions=2
Junction1=ml
Junction2=lq
[Path_3_8]
Junctions=3
Junction1=ml
Junction2=lq
Junction3=qr
[Path_3_9]
Junctions=2
Junction1=ml
Junction2=ls
[Path_3_10]
Junctions=3
Junction1=ml
Junction2=ls
Junction3=st
[Path_4_5]
Junctions=1
Junction1=no
[Path_4_6]
Junctions=1
Junction1=np
[Path_4_7]
Junctions=1
Junction1=nq
[Path_4_8]
Junctions=2
Junction1=nq
Junction2=qr
[Path_4_9]
Junctions=1
Junction1=ns
[Path_4_10]
Junctions=2
Junction1=ns
Junction2=st
[Path_5_6]
Junctions=2
Junction1=on
Junction2=np
[Path_5_7]
Junctions=2
Junction1=on
Junction2=nq
[Path_5_8]
Junctions=3
Junction1=on
Junction2=nq
Junction3=qr
[Path_5_9]
Junctions=2
Junction1=on
Junction2=ns
[Path_5_10]
Junctions=3
Junction1=on
Junction2=ns
Junction3=st
[Path_6_7]
Junctions=2
Junction1=pn
Junction2=nq
[Path_6_8]
Junctions=3
Junction1=pn
Junction2=nq
Junction3=qr
[Path_6_9]
Junctions=2
Junction1=qn
Junction2=ns
[Path_6_10]
Junctions=3
Junction1=qn
Junction2=ns
Junction3=st
[Path_7_8]
Junctions=1
Junction1=qr
[Path_7_9]
Junctions=2
Junction1=qn
Junction2=ns
[Path_7_10]
Junctions=3
Junction1=qn
Junction2=ns
Junction3=st
[Path_8_9]
Junctions=3
Junction1=rq
Junction2=qn
Junction3=ns
[Path_8_10]
Junctions=4
Junction1=rq
Junction2=qn
Junction3=ns
Junction4=st
[Path_9_10]
Junctions=1
Junction1=st

; Junctions
; ---------
[Junction_kq]
Character=3
[Junction_lm]
Character=1
[Junction_ln]
Character=8
[Junction_lq]
Character=5
[Junction_ls]
Character=4
[Junction_no]
Character=2
[Junction_np]
Character=Y
[Junction_nq]
Character=7
[Junction_ns]
Character=9
[Junction_pt]
Character=X
[Junction_qr]
Character=6
[Junction_st]
Character=Z

; Connections
; -----------
[Connection_1]
Junction=k
Connections=5
Connection1=20,13
Connection2=20,15
Connection3=20,18
Connection4=20,25
Connection5=20,27
[Connection_2]
Junction=l
Connections=4
Connection1=14,63
Connection2=16,61
Connection3=16,63
Connection4=18,61
[Connection_3]
Junction=m
Connections=5
Connection1=22,64
Connection2=22,67
Connection3=22,73
Connection4=22,76
Connection5=22,83
[Connection_4]
Junction=n
Connections=4
Connection1=23,56
Connection2=23,58
Connection3=24,49
Connection4=30,54
[Connection_5]
Junction=o
Connections=4
Connection1=33,57
Connection2=33,61
Connection3=38,53
Connection4=43,52
[Connection_6]
Junction=p
Connections=4
Connection1=42,61
Connection2=43,67
Connection3=45,64
Connection4=45,66
[Connection_7]
Junction=q
Connections=4
Connection1=22,37
Connection2=22,39
Connection3=27,40
Connection4=29,40
[Connection_8]
Junction=r
Connections=4
Connection1=33,34
Connection2=35,34
Connection3=37,34
Connection4=39,34
[Connection_9]
Junction=s
Connections=5
Connection1=25,67
Connection2=27,87
Connection3=27,89
Connection4=28,90
Connection5=29,88
[Connection_10]
Junction=t
Connections=5
Connection1=32,67
Connection2=34,67
Connection3=36,67
Connection4=42,72
Connection5=44,72
