;
; Configuration file for labyrinth2.txt
;

; Paths
; -----
[Path_1_2]
Junctions=1
Junction1=kl
[Path_1_3]
Junctions=2
Junction1=kl
Junction2=lm
[Path_1_4]
Junctions=2
Junction1=kr
Junction2=rn
[Path_1_5]
Junctions=3
Junction1=kr
Junction2=rt
Junction3=to
[Path_1_6]
Junctions=4
Junction1=kr
Junction2=rt
Junction3=to
Junction4=op
[Path_1_7]
Junctions=1
Junction1=kq
[Path_1_8]
Junctions=1
Junction1=kr
[Path_1_9]
Junctions=2
Junction1=kr
Junction2=rs
[Path_1_10]
Junctions=2
Junction1=kr
Junction2=rt
[Path_2_3]
Junctions=1
Junction1=lm
[Path_2_4]
Junctions=3
Junction1=ls
Junction2=sr
Junction3=rn
[Path_2_5]
Junctions=4
Junction1=ls
Junction2=sr
Junction3=rn
Junction4=no
[Path_2_6]
Junctions=5
Junction1=ls
Junction2=sr
Junction3=rn
Junction4=no
Junction5=op
[Path_2_7]
Junctions=2
Junction1=lk
Junction2=kq
[Path_2_8]
Junctions=2
Junction1=lk
Junction2=kr
[Path_2_9]
Junctions=1
Junction1=ls
[Path_2_10]
Junctions=3
Junction1=lk
Junction2=kr
Junction3=rt
[Path_3_4]
Junctions=4
Junction1=ml
Junction2=lk
Junction3=kr
Junction4=rn
[Path_3_5]
Junctions=5
Junction1=ml
Junction2=lk
Junction3=kr
Junction3=rt
Junction5=to
[Path_3_6]
Junctions=6
Junction1=ml
Junction2=lk
Junction3=kr
Junction4=rt
Junction5=to
Junction6=op
[Path_3_7]
Junctions=3
Junction1=ml
Junction2=lk
Junction3=kq
[Path_3_8]
Junctions=3
Junction1=ml
Junction2=lk
Junction3=kr
[Path_3_9]
Junctions=2
Junction1=ml
Junction2=ls
[Path_3_10]
Junctions=4
Junction1=ml
Junction2=lk
Junction3=kr
Junction4=rt
[Path_4_5]
Junctions=1
Junction1=no
[Path_4_6]
Junctions=2
Junction1=no
Junction2=op
[Path_4_7]
Junctions=3
Junction1=nr
Junction2=rk
Junction3=kq
[Path_4_8]
Junctions=1
Junction1=nr
[Path_4_9]
Junctions=2
Junction1=nr
Junction2=rs
[Path_4_10]
Junctions=1
Junction1=nt
[Path_5_6]
Junctions=1
Junction1=op
[Path_5_7]
Junctions=4
Junction1=on
Junction2=nr
Junction3=rk
Junction4=kq
[Path_5_8]
Junctions=2
Junction1=on
Junction2=nr
[Path_5_9]
Junctions=3
Junction1=on
Junction2=nr
Junction3=rs
[Path_5_10]
Junctions=1
Junction1=ot
[Path_6_7]
Junctions=5
Junction1=po
Junction2=ot
Junction3=tr
Junction4=rk
Junction5=kq
[Path_6_8]
Junctions=3
Junction1=po
Junction2=ot
Junction3=tr
[Path_6_9]
Junctions=4
Junction1=po
Junction2=ot
Junction3=tr
Junction4=rs
[Path_6_10]
Junctions=2
Junction1=po
Junction2=ot
[Path_7_8]
Junctions=2
Junction1=qk
Junction2=kr
[Path_7_9]
Junctions=3
Junction1=qk
Junction2=kr
Junction3=rs
[Path_7_10]
Junctions=3
Junction1=qk
Junction2=kr
Junction3=rt
[Path_8_9]
Junctions=1
Junction1=rs
[Path_8_10]
Junctions=1
Junction1=rt
[Path_9_10]
Junctions=2
Junction1=sr
Junction2=rt

; Junctions
; ---------
[Junction_kl]
Character=1
[Junction_kq]
Character=3
[Junction_kr]
Character=4
[Junction_lm]
Character=2
[Junction_ls]
Character=5
[Junction_no]
Character=Y
[Junction_nr]
Character=9
[Junction_nt]
Character=8
[Junction_op]
Character=X
[Junction_ot]
Character=Z
[Junction_rs]
Character=6
[Junction_rt]
Character=7

; Connections
; -----------
[Connection_1]
Junction=k
Connections=4
Connection1=12,54
Connection2=14,51
Connection3=16,51
Connection4=18,51
[Connection_2]
Junction=l
Connections=5
Connection1=21,70
Connection2=23,62
Connection3=23,64
Connection4=23,66
Connection5=23,68
[Connection_3]
Junction=m
Connections=4
Connection1=20,78
Connection2=21,77
Connection3=21,79
Connection4=23,83
[Connection_4]
Junction=n
Connections=4
Connection1=39,48
Connection2=41,48
Connection3=43,52
Connection4=44,49
[Connection_5]
Junction=o
Connections=4
Connection1=41,71
Connection2=41,73
Connection3=41,75
Connection4=43,58
[Connection_6]
Junction=p
Connections=5
Connection1=40,89
Connection2=42,87
Connection3=44,89
Connection4=46,87
Connection5=47,91
[Connection_7]
Junction=q
Connections=4
Connection1=7,14
Connection2=7,16
Connection3=7,18
Connection4=7,20
[Connection_8]
Junction=r
Connections=4
Connection1=27,42
Connection2=28,41
Connection3=30,41
Connection4=32,41
[Connection_9]
Junction=s
Connections=4
Connection1=26,64
Connection2=28,64
Connection3=32,69
Connection4=33,68
[Connection_10]
Junction=t
Connections=4
Connection1=33,44
Connection2=33,48
Connection3=33,51
Connection4=34,53
